﻿@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Instancias</label>
                <div class="col-sm-10">
                    @Html.SelectInstancias()
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Construtivo</label>
                <div class="col-sm-10">
                    <select class="form-control" id="construtivo">
                        <option>NN</option>
                        <option>CW</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Busca Local</label>
                <div class="col-sm-10">
                    <select class="form-control" id="buscaLocal">
                        <option value="">Selecione uma opção</option>
                        <option>E2X</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Meta-heurística</label>
                <div class="col-sm-10">
                    <select class="form-control" id="metaHeuristica">
                        <option value="">Selecione uma opção</option>
                        <option>BT</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a id="run" class="btn btn-default">Run!</a>
                    <a id="clean" class="btn btn-default">Clean!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="ploted">
    </div>
</div>
<input type="hidden" id="url" value="@Url.Action("ExecutarConstrutivo","Home")" />
<input type="hidden" id="urlBuscaLocal" value="@Url.Action("ExecutarBuscaLocal", "Home")" />
<input type="hidden" id="urlMetaHeuristica" value="@Url.Action("ExecutarMetaHeuristica", "Home")" />

@section scripts{>
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">

        google.load('visualization', '1.1', {
            'packages': ['corechart']
        });

        function initialize() {
            $("#run").on("click", function () {
                Grafico.GerarGraficos();
            });

            $("#clean").on("click", function () {
                $("#ploted").html("");
            });
        }

        google.setOnLoadCallback(initialize);

    </script>
}
